body{
    color: white;
    background: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-position: center;
    background-size: cover;
}
nav {
    margin-top: 20px;
}
.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

img{
    margin-top: 40px;
    padding: 20px;
}
.text {
    margin-top: 80px;
}

button{
    background: white;
    color: hsl(257, 40%, 49%);
    height: 50px;
    width: 135px;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 20px;
}

@media (max-width:1200px) {
    .container {
      width: 1000px;
    }
    .img{
        width: 600px;
    }
    .img img{
        width: 100%;
    }
    .text{
        width: 400px;
    }
}

/*  */

